<template>
  <perfect-scrollbar>
    <a-modal
      class="note-modal"
      size="large"
      :title="note ? 'Chế độ chỉnh sửa' : 'Viết gì đó'"
      :keyboard="false"
      :maskClosable="false"
      :visible="true"
      :confirm-loading="processing"
      :okButtonProps="{
                props: { disabled: !content }
            }"
      @cancel="close"
      @ok="addNote"
    >
      <div class="wrapper">
        <div class="d-flex margin-bottom-16px">
          <span>Công khai</span>
          <a-switch
            :default-checked="!note || note.isPublic"
            :disabled="processing"
            @change="onPublicChanged"
          />
        </div>
        <editor :init-value="content" v-model="content" :disabled="processing" />
        <tag-selector
          class="margin-top-16px"
          placeholder="Tag ghi chú này"
          :disabled="processing"
          :allow-new="true"
          :init-value="tags"
          @change="onTagChange"
        />
      </div>
    </a-modal>
  </perfect-scrollbar>
</template>

<script lang="ts">
import { Inject } from "@clairejs/core";
import { Vue, VueComponent, AbstractViewHandler } from "@clairejs/client";
import { Emit, Prop } from "vue-property-decorator";

import Editor from "./Editor.vue";
import TagSelector from "./TagSelector.vue";
import { Note } from "../../common/models/Note";
import { TranslationTemplate } from "../translations/TranslationTemplate";
import { TagModule } from "../modules/TagModule";
import { NoteModule } from "../modules/NoteModule";
import { NoteTagModule } from "../modules/NoteTagModule";

@VueComponent({
  components: { Editor, TagSelector },
})
export default class AddNoteDialog extends Vue {
  @Inject() noteModule: NoteModule;
  @Inject() noteTagModule: NoteTagModule;
  @Inject() tagModule: TagModule;
  @Inject() viewHandler: AbstractViewHandler;
  @Inject() translation: TranslationTemplate;

  @Prop({ required: false }) note?: Note;

  isPublic = true;
  content = "";
  processing = false;
  tags: string[] = [];

  @Emit("close")
  close(toRefresh?: boolean) {
    return toRefresh;
  }

  created() {
    this.content = this.note?.content || "";
    this.isPublic = !this.note || this.note.isPublic;
    this.tags = this.note
      ? this.tagModule.getTagsOfNote(this.note.id).map((t) => t.tag)
      : [];
  }

  async addNote() {
    try {
      this.processing = true;
      if (!this.note) {
        const newNote = await this.noteModule.createNote({
          content: this.content,
          isPublic: this.isPublic,
          tags: this.tags,
        });
        this.$notification.open({
          key: newNote.id.toString(),
          message: this.translation.note_creation_success(),
          description: this.translation.click_for_detail(),
          onClick: () => {
            this.$notification.close(newNote.id.toString());
            this.viewHandler.forward(`/note/${newNote.id}`);
          },
        });
        this.close();
      } else {
        await this.noteModule.updateNote({
          oldNote: {
            ...this.note,
            tags: this.tagModule.getTagsOfNote(this.note.id).map((t) => t.tag),
          },
          newNote: {
            content: this.content,
            isPublic: this.isPublic,
            tags: this.tags,
          },
        });
        //-- decache note tag module
        this.noteTagModule.decache((nt) => nt.noteId === this.note!.id);
        this.$message.success(this.translation.note_update_success());
        this.close(true);
      }
    } finally {
      this.processing = false;
    }
  }

  onPublicChanged(checked: boolean) {
    this.isPublic = checked;
  }

  onTagChange(tags: string[]) {
    this.tags = tags;
  }
}
</script>

<style lang="scss">
.note-modal {
  .ant-modal {
    padding: 10px;
    width: 100% !important;
    max-width: 800px !important;
    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
  }
}
</style>
