<template>
  <div>
    <div ref="editor"></div>
  </div>
</template>

<script lang="ts">
import { Vue, VueComponent } from "@clairejs/client";
import { Prop, Watch, Emit } from "vue-property-decorator";

@VueComponent()
export default class Edtor extends Vue {
  @Prop() disabled: boolean;
  @Prop() value: string;
  @Prop() initValue: string;

  quill: any = null;
  created() {}

  @Watch("disabled", { immediate: true })
  setEnabled(disabled: boolean) {
    this.quill?.enable(!disabled);
  }

  @Emit("input")
  onTextChange(newValue: string) {
    return newValue;
  }

  @Watch("value")
  onValueChange(value: string) {
    if (value !== this.value) {
      this.quill.setContents(JSON.parse(value));
    }
  }

  mounted() {
    this.quill = new (window as any).Quill(this.$refs.editor, {
      theme: "snow",
    });

    if (this.initValue) {
      this.quill.setContents(JSON.parse(this.initValue));
    }

    this.quill.on("text-change", () => {
      const deltaContents = this.quill.getContents();
      const textContent = this.quill.getText().trim();
      this.onTextChange(
        textContent.length ? JSON.stringify(deltaContents) : textContent
      );
    });
  }
}
</script>

<style scoped lang="scss"></style>
