<template>
    <div class="wrapper" :class="{ private: !note.isPublic }">
        <div>
            <a class="preview" @click.prevent="gotoNote" :href="openLink">{{
                contentPreview
            }}</a>
        </div>
        <div class="footer">
            <span>{{ displayTime }}</span>
            <div>
                <span
                    class="icon"
                    v-if="
                        sessionModule.user &&
                            sessionModule.user.id === note.ownerUserId
                    "
                >
                    <a-tooltip>
                        <template slot="title">
                            Bạn viết bài này
                        </template>
                        <a-icon type="user" />
                    </a-tooltip>
                </span>
                <span class="icon" v-if="!note.isPublic">
                    <a-tooltip>
                        <template slot="title">
                            Chế độ riêng tư
                        </template>
                        <a-icon type="lock" theme="filled" />
                    </a-tooltip>
                </span>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Inject } from "@clairejs/core";
import { Vue, VueComponent, AbstractViewHandler } from "@clairejs/client";
import { Prop } from "vue-property-decorator";
import moment from "moment";
import { Note } from "../../common/models/Note";
import { SessionModule } from "../modules/SessionModule";
@VueComponent()
export default class NoteListElement extends Vue {
    static readonly PREVIEW_LENGTH = 200;

    @Inject() sessionModule: SessionModule;
    @Inject() viewHandler: AbstractViewHandler;

    @Prop() note: Note;

    get displayTime(): string {
        return moment(this.note.createdAt).fromNow();
    }

    get openLink() {
        return `/note/${this.note.id}`;
    }

    gotoNote() {
        this.viewHandler.forward(`/note/${this.note.id}`);
    }

    get contentPreview() {
        if (!this.note.content) {
            return "";
        }
        const container = document.createElement("div");
        const quill = new (window as any).Quill(container);
        quill.setContents(JSON.parse(this.note.content));
        const text = quill.getText();
        if (text.length <= NoteListElement.PREVIEW_LENGTH) {
            return text;
        }
        return text.substring(0, NoteListElement.PREVIEW_LENGTH) + "...";
    }
}
</script>

<style scoped lang="scss">
@import "../styles/theme.scss";
.wrapper {
    padding: 16px;
    margin-top: 20px;
    &.private {
        background-color: whitesmoke;
    }
    .preview {
        display: block;
        text-align: justify;
    }
    .footer {
        margin-top: 4px;
        display: flex;
        justify-content: space-between;

        .icon {
            margin-left: 16px;
        }
    }
}
</style>
