<template>
    <div class="wrapper">
        <div class="header">
            <div></div>
            <a-select
                class="limit"
                :size="small"
                :default-value="currentLimit"
                @change="limitChange"
            >
                <a-select-option
                    v-for="limit in limits"
                    :key="limit"
                    :value="limit"
                    >Giới hạn {{ limit }}</a-select-option
                >
            </a-select>
        </div>
        <div class="content">
            <div>
                <slot v-for="instance of instances" :instance="instance"></slot>
            </div>
            <div class="no-more" v-if="noMoreResult">--- hết kết quả ---</div>
        </div>
        <div class="footer">
            <span class="link" @click="prevPage()">
                <span :class="{ hidden: currentPage === 1 }">
                    <a-icon type="step-backward" />
                    <span>Trang trước</span>
                </span>
            </span>
            <div v-if="pages.length > 1 || !noMoreResult">
                <a-button
                    v-for="page of pages"
                    class="pagi-button"
                    :key="page"
                    :class="{ current: page === currentPage }"
                    :disabled="page === currentPage"
                    @click="pageChange(page)"
                    >{{ page }}</a-button
                >
            </div>
            <span class="link" @click="nextPage()">
                <span :class="{ hidden: noMoreResult }">
                    <span>Trang sau</span>
                    <a-icon type="step-forward" />
                </span>
            </span>
        </div>
    </div>
</template>

<script lang="ts">
import { AbstractModel } from "@clairejs/core";
import { Vue, VueComponent } from "@clairejs/client";
import { Prop, Emit } from "vue-property-decorator";

@VueComponent()
export default class ResultPagination<T extends AbstractModel> extends Vue {
    @Prop() instances: T[];
    @Prop() pages: number[];
    @Prop() maxDisplay: 6;
    @Prop() currentPage: number;
    @Prop() currentLimit: number;
    @Prop() limits: number[];

    get noMoreResult() {
        return this.instances.length < this.currentLimit;
    }

    //get displayableButtons() {}

    @Emit("limitChange")
    limitChange(value: number) {
        return value;
    }

    @Emit("pageChange")
    pageChange(value: number) {
        return value;
    }

    nextPage() {
        if (!this.noMoreResult) {
            this.pageChange(this.currentPage + 1);
        }
    }

    prevPage() {
        if (this.currentPage !== 1) {
            this.pageChange(this.currentPage - 1);
        }
    }

    created() {
        this.limitChange(this.currentLimit);
    }
}
</script>

<style scoped lang="scss">
@import "../styles/theme.scss";

.wrapper {
    width: 100%;
    .header {
        padding: 4px;
        display: flex;
        justify-content: space-between;

        .limit {
            width: 160px;
        }
    }
    .content {
        padding: 4px;
        flex: 1;
        .no-more {
            margin-top: 16px;
            text-align: center;
        }
    }
    .footer {
        padding: 32px 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .pagi-button {
            &.current {
                cursor: default;
                border-color: $highlighted-border-color;
            }
            margin: 4px;
        }
    }
}
</style>
