<template>
  <a-input-group class="search-input" compact>
    <a-select
      class="font-mono"
      size="large"
      :disabled="loading"
      :default-value="initOp || searchOperator"
      @change="onOperatorChange"
    >
      <a-select-option
        class="font-mono"
        v-for="op in operators"
        :value="op.value"
        :key="op.value"
      >{{ op.label }}</a-select-option>
    </a-select>
    <tag-selector
      size="large"
      placeholder="Nhập từ khóa để tìm kiếm"
      :disabled="loading"
      :allow-new="false"
      :initValue="initValue"
      @change="onTagChange"
    />
    <a-button
      class="fix-border"
      size="large"
      type="primary"
      :icon="loading ? 'loading' : 'search'"
      :disabled="loading || (!searchTags.length && !allowNoTag)"
      @click="onSearch"
    />
  </a-input-group>
</template>
<script lang="ts">
import { Inject } from "@clairejs/core";
import { Vue, VueComponent, AbstractViewHandler } from "@clairejs/client";
import { Prop, Emit } from "vue-property-decorator";

import { SearchOperator } from "../../common/enums/SearchOperator";
import { SearchNoteQueries } from "../../common/dtos/note";
import TagSelector from "./TagSelector.vue";
import { TagModule } from "../modules/TagModule";

@VueComponent({
  components: { TagSelector },
})
export default class SearchBar extends Vue {
  @Inject() tagModule: TagModule;

  @Prop() initValue: string[];
  @Prop() loading: boolean;
  @Prop() initOp: SearchOperator;
  @Prop() allowNoTag: boolean;

  operators = Object.values(SearchOperator).map((op) => ({
    value: op,
    label: op === SearchOperator.AND ? "&&" : "||",
  }));

  searchOperator: SearchOperator = null!;
  searchTags: string[] = null!;

  created() {
    this.searchOperator = this.initOp || this.operators[0].value;
    this.searchTags = this.initValue || [];
  }

  onOperatorChange(operator: SearchOperator) {
    this.searchOperator = operator;
  }

  onTagChange(tags: string[]) {
    this.searchTags = tags;
  }

  objectToQueries(queryObj: { [key: string]: any }): string {
    return Object.keys(queryObj).reduce(
      (collector, key) =>
        collector + `&${key}=${JSON.stringify(queryObj[key])}`,
      ""
    );
  }

  @Emit("search")
  onSearch(): SearchNoteQueries {
    this.tagModule.saveTagsToLocalStorage(
      this.searchTags.map((v) => ({ id: 1, tag: v }))
    );
    return {
      tags: this.searchTags,
      op: this.searchOperator,
    };
  }
}
</script>
<style scoped lang="scss">
.search-input {
  display: flex;
  .tag-search {
    flex: 1;
  }
  .fix-border {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
</style>
