<template>
    <div>
        <div class="header">
            <div class="logo-wrapper">
                <div class="logo" @click="gotoHome">Puchikun</div>
                <div class="sublogo">
                    <slot name="sublogo"></slot>
                </div>
            </div>
            <div class="bar">
                <search-bar
                    :initValue="tags"
                    :initOp="op"
                    :allowNoTag="allowNoTag"
                    @search="onSearch"
                />
            </div>
            <div class="user" :class="{ hidden: !sessionModule.user }">
                <a-dropdown-button @click="showCreateNoteDialog = true">
                    Viết
                    <a-menu slot="overlay">
                        <a-menu-item @click="gotoMyNotes" key="1"
                            >Ghi chú của tôi</a-menu-item
                        >
                        <a-menu-item @click="logout" key="2"
                            >Đăng xuất</a-menu-item
                        >
                    </a-menu>
                    <a-avatar
                        slot="icon"
                        icon="user"
                        size="small"
                        :src="
                            sessionModule.user && sessionModule.user.userAvatar
                        "
                    />
                </a-dropdown-button>
            </div>
        </div>
        <a-divider class="divider" />
        <add-note-dialog
            v-if="showCreateNoteDialog"
            @close="showCreateNoteDialog = false"
        />
    </div>
</template>

<script lang="ts">
import { Inject } from "@clairejs/core";
import { Vue, VueComponent, AbstractViewHandler } from "@clairejs/client";
import { Prop, Emit } from "vue-property-decorator";
import { SearchOperator } from "../../common/enums/SearchOperator";
import { SessionModule } from "../modules/SessionModule";
import SearchBar from "./SearchBar.vue";
import AddNoteDialog from "./AddNoteDialog.vue";

@VueComponent({
    components: { SearchBar, AddNoteDialog }
})
export default class SearchHeader extends Vue {
    @Prop() tags: string[];
    @Prop() op: SearchOperator;
    @Prop() allowNoTag: boolean;

    @Inject() viewHandler: AbstractViewHandler;
    @Inject() sessionModule: SessionModule;

    showCreateNoteDialog = false;

    @Emit("search")
    onSearch() {}

    @Emit("gotoMyNotes")
    gotoMyNotes() {}

    gotoHome() {
        this.viewHandler.forward("/");
    }

    logout() {
        this.sessionModule.logout();
        this.viewHandler.forward("/");
    }
}
</script>

<style scoped lang="scss">
.header {
    display: flex;
    align-items: center;
    padding: 24px;
    padding-bottom: 0;
    .logo-wrapper {
        position: absolute;
        .logo {
            height: 34px;
            font-size: 30px;
            cursor: pointer;
        }
        .sublogo {
            width: 100%;
            position: absolute;
        }
    }
    .bar {
        flex: 1;
        margin-left: 220px;
        margin-right: 140px;
    }
    .user {
        position: absolute;
        right: 24px;
    }
}

.divider {
    margin-bottom: 0;
}

@media screen and (max-width: 600px) {
    .header {
        flex-direction: column-reverse;
        align-items: flex-end;
        .logo-wrapper {
            top: 24px;
            left: 24px;
        }
        .bar {
            margin: 0;
            margin-top: 24px;
            width: 100%;
        }
        .user {
            position: relative;
            right: 0;
        }
    }
}
</style>
