<template>
    <a-select
        class="tag-search"
        mode="multiple"
        :disabled="disabled"
        :filter-option="false"
        :size="size"
        :placeholder="placeholder"
        :default-value="initValue || []"
        @search="fetchTags"
        @change="handleChange"
    >
        <a-spin v-if="fetching" slot="notFoundContent" size="small" />
        <a-select-option v-for="d in tags" :key="d.tag" :value="d.tag">{{
            d.id ? d.tag : `${d.tag} (mới)`
        }}</a-select-option>
    </a-select>
</template>

<script lang="ts">
import { Inject, GetManyResponseBody } from "@clairejs/core";
import { Vue, VueComponent, AbstractApiProvider } from "@clairejs/client";
import { Prop, Emit } from "vue-property-decorator";
import { debounce } from "lodash";
import { Tag } from "../../common/models/Tag";
import { TagModule } from "../modules/TagModule";
import { Settings } from "../../common/constants";

@VueComponent()
export default class TagSelector extends Vue {
    @Inject() apiProvider: AbstractApiProvider;
    @Inject() tagModule: TagModule;

    @Prop() allowNew: boolean;
    @Prop() placeholder: string;
    @Prop() size: string;
    @Prop() disabled: boolean;
    @Prop() initValue: string[];

    fetching = false;
    lastFetchId = 0;
    tags: Partial<Tag>[] = [];
    selectedTags: string[] = [];

    created() {
        //@ts-ignore
        this.fetchTags = debounce(this.fetchTags, 200);

        //-- load recent search tags from local storage
        this.tags = this.initValue
            ? this.initValue.map(v => ({ id: 1, tag: v }))
            : this.tagModule.getRecentTagsFromLocalStorage();
    }

    async fetchTags(searchValue: string): Promise<void> {
        this.tags = [];
        if (
            searchValue &&
            this.selectedTags.length < Settings.MAX_TAGS_PER_NOTE
        ) {
            this.lastFetchId += 1;
            const fetchId = this.lastFetchId;
            this.fetching = true;

            const result = await this.tagModule.fetchMany({
                fields: { tag: searchValue }
            });

            if (fetchId !== this.lastFetchId) {
                // for fetch callback order
                return;
            }

            this.tags = [...result];
            if (this.allowNew && !this.tags.find(t => t.tag === searchValue)) {
                this.tags.push({ tag: searchValue });
            }
            this.fetching = false;
        }
    }

    @Emit("change")
    handleChange(value: string[]) {
        if (value.length <= Settings.MAX_TAGS_PER_NOTE) {
            this.selectedTags = value;
            this.fetching = false;
            return value;
        }
        return this.selectedTags;
    }
}
</script>
