@import "./theme.scss";

$spaces: 2, 4, 8, 16, 32, 64, 128, 256, 512;
$directions: left, top, right, bottom;

@each $space in $spaces {
    .margin-#{$space}px {
        margin: #{$space}px;
    }
    .padding-#{$space}px {
        padding: #{$space}px;
    }
    @each $direction in $directions {
        .margin-#{$direction}-#{$space}px {
            margin-#{$direction}: #{$space}px;
        }
        .padding-#{$direction}-#{$space}px {
            padding-#{$direction}: #{$space}px;
        }
    }
}

html,
body {
    //position: fixed;
    //overflow: hidden;
    //touch-action: pan-y;
    overscroll-behavior: none;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    height: 100%;
    color: $text-color;
}

.ps {
    height: 100%;
    overflow: auto;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-center {
    justify-content: center;
}

.font-mono {
    font-family: monospace;
}

.font-weight-bold {
    font-weight: bold;
}

.link {
    &:first-child {
        margin-left: 0;
    }
    cursor: pointer;
    user-select: none;
    transition: color 0.3s;
    font-size: $normal-font-size;
    color: $text-color;
    margin-left: 16px;
    &:hover {
        color: gold;
        text-decoration: underline;
    }
    &.disabled {
        cursor: default;
        text-decoration: none;
        color: $disabled-text-color;
    }
}

.hidden {
    visibility: hidden;
}

.ql-editor {
    min-height: 200px !important;
}

.logo {
    cursor: default;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    user-select: none;
    font-family: "Homemade Apple", cursive;
}

.ant-dropdown-button {
    display: flex;
}

@media screen and (max-width: 600px) {
    .link {
        font-size: $small-font-size;
    }
}
