$text-color: #333;
$disabled-text-color: #999;
$highlighted-text-color: #fff;
$large-font-size: 20px;
$normal-font-size: 16px;
$small-font-size: 13px;
$highlighted-border-color: gold;
$highlighted-danger-color: #f5222d;
