<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
        />
        <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
        <link
            rel="apple-touch-icon"
            sizes="128x128"
            href="<%= BASE_URL %>pencil-icon.png"
        />
        <title>Puchikun</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Charmonman&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap"
            rel="stylesheet"
        />
        <meta
            name="google-signin-client_id"
            content="175710315121-q2abbdlklhosqdr7cto7pqsu0hnfmueu.apps.googleusercontent.com"
        />
        <link
            href="https://cdn.quilljs.com/1.2.6/quill.snow.css"
            rel="stylesheet"
        />
        <script src="https://cdn.quilljs.com/1.2.6/quill.min.js"></script>
        <script src="https://apis.google.com/js/api:client.js"></script>
    </head>
    <body>
        <noscript>
            <strong
                >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't
                work properly without JavaScript enabled. Please enable it to
                continue.</strong
            >
        </noscript>
        <div id="app"></div>
        <!-- built files will be auto injected -->
    </body>
</html>
