<template>
    <div class="main">
        <div class="wrapper">
            <div class="header">
                <span class="link" @click="goBack">Quay lại</span>
            </div>
            <perfect-scrollbar>
                <div class="content">
                    <span>Một buổi sáng, cô ấy nói với tôi:</span>
                    <span>- Anh ơi, một "puchikun" hơn một trí nhớ tốt.</span>
                    <span>
                        - Em núa cái chi? - Đang đánh răng rửa mặt, tôi khóa vòi
                        nước rồi hỏi lại.
                    </span>
                    <span>
                        - MỘT PUCHIKUN HƠN MỘT TRÍ NHỚ TỐT. Anh đã nghe câu đó
                        bao giờ chưa?
                    </span>
                    <span>- Anh chưa nghe, nhưng mà "puchikun" là cái gì?</span>
                    <br />
                    <span>
                        Cô gái của tôi vẫn thường hack não tôi bằng những câu
                        nói như vậy. Và mặc dù trong hầu hết các trường hợp tôi
                        đều có thể hiểu được (sau khi sử dụng 150% số nơ-ron
                        thần kinh chạy các thuật toán xử lý ngôn ngữ tự nhiên),
                        thì lần này "puchikun" thật sự là một thứ không thể hiểu
                        nổi:
                    </span>

                    <span>- Puchikun là ren hè? Em núa tiếng Anh hả?</span>
                    <span>
                        - Dạ em nói tiếng Việt. "Puchikun" là cây "put chi" bị
                        "kun" á.
                    </span>
                    <span>- Haha, trời đất! Em muốn núa "bút chì cùn" hả?</span>
                    <br />
                    <span>
                        Bây giờ thì tôi đã hiểu ra. Cô nàng Quảng Trị của tôi,
                        lần đầu tiên nhắc tới bút chì trước mặt tôi. Hèn gì mấy
                        từ này nghe lạ hoắc. Tôi ôm bụng cười lăn lóc.
                    </span>
                    <br />
                    <span>
                        - Ời, ý họ muốn núa là bộ não của mình nhiều khi không
                        thể ghi nhớ hết mụa thứ, và một số thứ nếu được ghi chép
                        lại sẽ tốt hơn. Mà răng tự nhiên em lại núa rứa?
                    </span>
                    <span>
                        - Tự nhiên em nhớ lại câu đó bơ... em nói anh nghe rứa
                        thôi.
                    </span>
                    <br />
                    <span>
                        Cuộc sống này rất nhiều điều đến một cách tự nhiên. Tự
                        nhiên gặp gỡ, rồi thích, rồi yêu, rồi thương. Tự nhiên
                        trúng số. Tự nhiên bị gạch rơi vào đầu. Tôi luôn cho
                        rằng những điều đến một cách tự nhiên thực sự là những
                        điều tuyệt vời (trừ điều cuối cùng vừa nói).
                    </span>
                    <span>
                        Rồi tự nhiên một ý tưởng hình thành trong suy nghĩ của
                        tôi:
                    </span>
                    <span>
                        - Cám ơn em, hihi - Cô ấy đáp lại tôi bằng "hehe".
                    </span>
                    <br />
                    <span>
                        Trước đây tôi có viết một ứng dụng ghi chú và tìm kiếm
                        ghi chú bằng tag, cái thứ đã hỗ trợ tôi rất nhiều bằng
                        cách lưu các mẹo lập trình, nhất là các câu lệnh linux
                        dài ngoằng tham số dùng để tìm kiếm và xóa file vân vân,
                        chẳng may trong một lần nghịch ngợm, tôi đã remove EC2
                        instance và làm mất luôn database. Từ đó lười quá tôi
                        không thèm viết lại. Để rồi mỗi lúc cần tra cứu, tôi lại
                        lục tung Stackoverflow và các diễn đàn trên Google.
                    </span>
                    <br />
                    <span>
                        Được em gợi ý, tôi quyết định sẽ làm lại và đặt tên ứng
                        dụng là Puchikun. Nó sẽ là một món quà dành tặng em. Đơn
                        giản để nói với em rằng: mọi lời nói của em đối với anh
                        đều có ý nghĩa.
                    </span>
                    <span>
                        Hôm nay 18/08/2020, năm Covid thứ nhất, kỷ niệm 1 năm
                        ngày hai đứa hẹn hò lần đầu tiên, tôi ngồi viết những
                        dòng này. Em ngồi đối diện tôi và không biết gì cả. Hai
                        đứa dự định dành dịp này để đi du lịch Đà Lạt, rốt cuộc
                        bị cách ly và chỉ còn biết ngồi nhà nhìn ngắm thế giới
                        qua khung cửa sổ.
                    </span>

                    <br />
                    <span>Tặng em, tặng mọi người một Puchikun.</span>
                    <div class="signature">-- Immort --</div>
                </div>
            </perfect-scrollbar>
        </div>
    </div>
</template>

<script lang="ts">
import { Inject } from "@clairejs/core";
import { Vue, VueComponent, AbstractViewHandler } from "@clairejs/client";
@VueComponent()
export default class AboutPage extends Vue {
    @Inject() viewHandler: AbstractViewHandler;
    goBack() {
        this.viewHandler.forward("/");
    }
}
</script>

<style scoped lang="scss">
@import "../styles/theme.scss";
.main {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(80) translate(-987.5 -740.63)'%3E%3Cuse fill='%23fafafa' href='%23s' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='2'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(80) translate(-987.5 -740.63)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(80) translate(-987.5 -740.63)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(80) translate(-987.5 -740.63)'%3E%3Cg fill='%23e5e5e5'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(80) translate(-987.5 -740.63)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23e0e0e0'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(80) translate(-987.5 -740.63)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(80) translate(-987.5 -740.63)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(80) translate(-987.5 -740.63)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    img {
        position: absolute;
        filter: blur(1px);
        -webkit-filter: blur(1px);
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
        .header {
            padding: 20px 40px;
            display: flex;
            justify-content: flex-end;
        }
        .content {
            padding-bottom: 60px;
            overflow: auto;
            flex: 1;
            display: flex;
            flex-direction: column;
            margin: auto;
            max-width: 800px;
            text-align: justify;
            color: $text-color;
            font-size: 16px;
            .signature {
                text-align: right;
                font-style: italic;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .main {
        .wrapper {
            .header {
                padding: 20px;
            }
            .content {
                padding: 20px;
            }
        }
    }
}
</style>
