<template>
    <note-list :fetchFn="fetch" :personalMode="true" />
</template>

<script lang="ts">
import { Inject } from "@clairejs/core";
import { Vue, VueComponent, AbstractViewHandler } from "@clairejs/client";

import { SearchNoteQueries } from "../../common/dtos/note";
import NoteList from "./fragments/NoteList.vue";
import { NoteModule } from "../modules/NoteModule";
import { SessionModule } from "../modules/SessionModule";
import { TranslationTemplate } from "../translations/TranslationTemplate";

@VueComponent({
    components: { NoteList }
})
export default class MyNotesPage extends Vue {
    @Inject() sessionModule: SessionModule;
    @Inject() noteModule: NoteModule;

    fetch(options: SearchNoteQueries) {
        return this.noteModule.searchMyNote({
            fields: { ownerUserId: [this.sessionModule.user!.id] },
            ...options,
            tags: options.tags?.length ? options.tags : undefined
        });
    }
}
</script>
