<template>
    <div class="wrapper">
        <search-header @search="onSearch" @gotoMyNotes="gotoMyNotes" />
        <div v-if="loading || !note" class="info">
            <div v-if="loading">Đang lấy thông tin...</div>
            <div v-if="!loading && !note">Không tìm thấy dữ liệu</div>
        </div>
        <div class="content" v-if="note && !loading">
            <div class="content-header">
                <div v-if="author">
                    <div class="d-flex justify-content-start">
                        <a-avatar icon="user" :src="author.userAvatar" />
                        <span class="margin-left-8px font-weight-bold">
                            {{ author.name }}
                        </span>
                    </div>
                    <div class="margin-top-4px d-flex">
                        <div class="note-time">
                            <span>{{ createdDate }}</span>
                            <span class="separator">-</span>
                            <span>{{ createdTime }}</span>
                        </div>
                        <div class="d-flex">
                            <span>
                                <a-icon
                                    v-if="!note.isPublic"
                                    theme="filled"
                                    type="lock"
                                />
                            </span>
                            <div v-if="isAuthor">
                                <a-dropdown>
                                    <a-menu
                                        slot="overlay"
                                        @click="handleMenuClick"
                                    >
                                        <a-menu-item
                                            v-if="
                                                author.id ===
                                                    sessionModule.user.id
                                            "
                                            key="1"
                                        >
                                            <a-icon type="edit" />Cập nhật
                                        </a-menu-item>
                                        <a-menu-item key="2">
                                            <a-icon type="delete" />Xóa
                                        </a-menu-item>
                                    </a-menu>
                                    <a-button
                                        type="danger"
                                        size="small"
                                        style="margin-left: 8px"
                                    >
                                        Chỉnh sửa
                                        <a-icon type="down" />
                                    </a-button>
                                </a-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a-divider />
            <div class="content-body" v-html="quillGetHTML"></div>
            <a-divider />
            <div>
                <a-tag v-for="tag of tags" :key="tag.id">{{ tag.tag }}</a-tag>
            </div>
        </div>
        <add-note-dialog
            v-if="showNoteEditDialog"
            :note="note"
            @close="closeEditNote"
        />
    </div>
</template>

<script lang="ts">
import { Inject } from "@clairejs/core";
import {
    Vue,
    VueComponent,
    AbstractViewHandler,
    UrlInfo
} from "@clairejs/client";
import moment from "moment";
import { Note } from "../../common/models/Note";
import { User } from "../../common/models/User";
import { Tag } from "../../common/models/Tag";
import { SearchNoteQueries } from "../../common/dtos/note";

import { NoteModule } from "../modules/NoteModule";
import { UserModule } from "../modules/UserModule";
import { SessionModule } from "../modules/SessionModule";
import { TagModule } from "../modules/TagModule";
import { NoteTagModule } from "../modules/NoteTagModule";

import SearchHeader from "../components/SearchHeader.vue";
import AddNoteDialog from "../components/AddNoteDialog.vue";
import translation from "../translations/vi";
import { TranslationTemplate } from "../translations/TranslationTemplate";

@VueComponent({
    components: { SearchHeader, AddNoteDialog }
})
export default class NoteViewPage extends Vue {
    @Inject() viewHandler: AbstractViewHandler;
    @Inject() noteModule: NoteModule;
    @Inject() userModule: UserModule;
    @Inject() tagModule: TagModule;
    @Inject() noteTagModule: NoteTagModule;
    @Inject() sessionModule: SessionModule;
    @Inject() translation: TranslationTemplate;

    loading = false;
    noteId?: number = null!;
    showNoteEditDialog = false;
    listenerId = 0;

    async created() {
        this.listenerId = this.viewHandler.onUrlUpdate(urlInfo => {
            this.fetchNote(urlInfo);
        });
        await this.fetchNote(this.viewHandler.getUrlInfo(this));
    }

    destroyed() {
        this.viewHandler.removeUrlListener(this.listenerId);
    }

    get isAuthor() {
        return (
            !!this.author &&
            this.sessionModule.user &&
            (this.author.id === this.sessionModule.user.id ||
                this.sessionModule.user.isSuperUser)
        );
    }

    get tags(): Tag[] {
        if (!this.note) {
            return [];
        }
        return this.tagModule.getTagsOfNote(this.note.id);
    }

    get createdDate() {
        return this.note
            ? moment(this.note.createdAt).format("DD/MM/YYYY")
            : "";
    }

    get createdTime() {
        return this.note
            ? moment(this.note.createdAt).format("HH:mm:ss (Z)")
            : "";
    }

    get author(): User | undefined {
        return this.note && this.userModule.getById(this.note.ownerUserId);
    }

    get note(): Note | undefined {
        return this.noteId ? this.noteModule.getById(this.noteId) : undefined;
    }

    get quillGetHTML() {
        if (!this.note) {
            return "";
        }
        const container = document.createElement("div");
        const quill = new (window as any).Quill(container);
        quill.setContents(JSON.parse(this.note.content));
        return quill.root.innerHTML;
    }

    async fetchNote(urlInfo: UrlInfo) {
        try {
            if (urlInfo.params?.["id"]) {
                this.noteId = JSON.parse(urlInfo.params["id"]);
                this.loading = true;
                const note = await this.noteModule.fetchById(this.noteId!);
                if (note) {
                    await this.userModule.fetchById(note.ownerUserId);
                    const noteTags = await this.noteTagModule.fetchMany({
                        fields: { noteId: [note.id] }
                    });
                    if (noteTags.length) {
                        await this.tagModule.fetchMany({
                            fields: { id: noteTags.map(nt => nt.tagId) }
                        });
                    }
                }
            }
        } catch (err) {
            //-- ignore
        } finally {
            this.loading = false;
        }
    }

    handleMenuClick(event: { key: string }) {
        switch (event.key) {
            case "1":
                return this.editNote();
            case "2":
                return this.deleteNote();
            default:
                break;
        }
    }

    editNote() {
        this.showNoteEditDialog = true;
    }

    async closeEditNote(refresh?: boolean) {
        if (refresh) {
            await this.fetchNote(this.viewHandler.getUrlInfo(this));
        }
        this.showNoteEditDialog = false;
    }

    deleteNote() {
        this.$confirm({
            title: this.translation.remove_note_confirm(),
            onOk: () => {
                this.noteModule.removeNote(this.note!);
            },
            onCancel: () => {}
        });
    }

    gotoMyNotes() {
        this.viewHandler.forward("/mynotes");
    }

    onSearch(value: SearchNoteQueries) {
        this.viewHandler.forward(
            `/search?${Object.keys(value).reduce(
                (collector, key) =>
                    `${collector}&${key}=${JSON.stringify(
                        (value as any)[key]
                    )}`,
                ""
            )}`
        );
    }
}
</script>

<style scoped lang="scss">
.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    .info {
        padding: 60px;
        text-align: center;
    }
    .content {
        flex: 1;
        overflow: auto;
        padding: 60px 144px 60px 224px;
        text-align: justify;

        .note-time {
            margin-top: 4px;
            display: flex;
            justify-content: flex-start;
            .separator {
                margin: 0 4px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .wrapper {
        .content {
            padding: 24px;

            .note-time {
                flex-direction: column;
                align-items: flex-start;
                .separator {
                    display: none;
                }
            }
        }
    }
}
</style>
