<template>
    <div class="wrapper">
        <div class="code">404</div>
        <div class="info">Không tìm thấy trang được yêu cầu</div>
    </div>
</template>

<script lang="ts">
import { Vue, VueComponent } from "@clairejs/client";

@VueComponent()
export default class NotFoundPage extends Vue {}
</script>

<style lang="scss" scoped>
@import "../styles/theme.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 128px;
    color: $disabled-text-color;
    .code {
        font-size: 100px;
    }
    .info {
        font-size: $normal-font-size;
    }
}
</style>
