<template>
    <note-list :fetchFn="fetch" :personalMode="false" />
</template>

<script lang="ts">
import { Inject } from "@clairejs/core";
import { Vue, VueComponent, AbstractViewHandler } from "@clairejs/client";

import NoteList from "./fragments/NoteList.vue";
import { NoteModule } from "../modules/NoteModule";
import { SearchNoteQueries } from "../../common/dtos/note";

@VueComponent({
    components: { NoteList }
})
export default class SearchResultPage extends Vue {
    @Inject() viewHandler: AbstractViewHandler;
    @Inject() noteModule: NoteModule;

    gotoMyNotes() {
        this.viewHandler.forward("/mynotes");
    }

    async fetch(options: SearchNoteQueries) {
        return this.noteModule.searchNote(options);
    }
}
</script>
