<template>
  <a-modal
    :closable="false"
    :visible="true"
    @ok="handleOk"
    :cancelButtonProps="{style: {display: 'none'}}"
  >
    <div class="header">Chào mừng bạn đến với Puchikun!</div>
    <div
      class="description"
    >Bạn vừa tạo một tài khoản trên hệ thống của chúng tôi. Vui lòng xem hướng dẫn bên dưới.</div>

    <div class="sub-header">Hướng dẫn sử dụng</div>
    <div class="phrase">
      - Puchikun là công cụ lưu trữ ghi chú hoàn toàn miễn phí. Mỗi tài khoản có thể tạo tối đa
      <b>{{settings.DEFAULT_MAX_NOTES_PER_USER}}</b> ghi chú.
    </div>
    <div class="phrase">
      - Tìm kiếm bằng từ khóa và điều kiện: điều kiện
      <b>&&</b> tìm kiếm các ghi chú chứa tất cả các từ khóa, điều kiện
      <b>||</b> tìm kiếm các ghi chú chứa ít nhất một trong các từ khóa.
    </div>
    <div class="phrase">
      - Số từ khóa tối đa cho mỗi ghi chú và mỗi lượt tìm kiếm là
      <b>{{settings.MAX_TAGS_PER_NOTE}}</b>.
    </div>

    <div class="sub-header">Chính sách bảo mật</div>
    <div
      class="phrase"
    >- Bài viết có 2 chế độ: công khai và riêng tư. Các bài viết công khai sẽ được tìm thấy bởi người dùng khác.</div>
    <div class="phrase">- Mọi từ khóa đều công khai, kể cả từ khóa của bài viết riêng tư.</div>
    <div
      class="phrase"
    >- Puchikun cam kết không sử dụng và cung cấp thông tin cá nhân và bài viết của người dùng vào các mục đích khác, trừ trường hợp được yêu cầu bởi cơ quan có thẩm quyền.</div>
  </a-modal>
</template>

<script lang="ts">
import { Vue, VueComponent } from "@clairejs/client";
import { Emit } from "vue-property-decorator";
import { Settings } from "../../../common/constants";

@VueComponent()
export default class NewUserDialog extends Vue {
  settings = Settings;
  @Emit("close")
  handleOk() {}
}
</script>

<style lang="scss" scoped>
@import "../../styles/theme.scss";

b {
  color: $highlighted-danger-color;
}

.header {
  font-weight: bold;
  font-size: $large-font-size;
  margin-bottom: 16px;
}

.description {
  font-size: $small-font-size;
  text-align: justify;
}

.sub-header {
  font-weight: bold;
  margin-top: 8px;
}

.phrase {
  margin-top: 4px;
  text-align: justify;
}
</style>