<template>
    <div class="wrapper">
        <search-header
            :tags="tags"
            :op="op"
            :allowNoTag="personalMode"
            @search="onSearch"
            @gotoMyNotes="gotoMyNotes"
        >
            <template v-if="personalMode" v-slot:sublogo>
                <div class="sublogo">tôi viết</div>
            </template>
        </search-header>
        <div class="content">
            <result-pagination
                :instances="visibleResult"
                :limits="limits"
                :currentLimit="currentLimit"
                :page="currentPage"
                :pages="allPages"
                :currentPage="currentPage"
                @pageChange="onPageChange"
                @limitChange="onLimitChange"
            >
                <note-list-element
                    slot-scope="item"
                    :key="item.instance.id"
                    :note="item.instance"
                />
            </result-pagination>
        </div>
    </div>
</template>

<script lang="ts">
import { Inject, AbstractLogger } from "@clairejs/core";
import { Vue, VueComponent, AbstractViewHandler } from "@clairejs/client";
import { Prop, Emit } from "vue-property-decorator";
import { SearchOperator } from "../../../common/enums/SearchOperator";
import { Note } from "../../../common/models/Note";
import { SearchNoteQueries } from "../../../common/dtos/note";
import { NoteModule } from "../../modules/NoteModule";
import { SessionModule } from "../../modules/SessionModule";

import SearchHeader from "../../components/SearchHeader.vue";
import ResultPagination from "../../components/ResultPagination.vue";
import NoteListElement from "../../components/NoteListElement.vue";

@VueComponent({
    components: { SearchHeader, ResultPagination, NoteListElement }
})
export default class NoteList extends Vue {
    @Inject() logger: AbstractLogger;
    @Inject() viewHandler: AbstractViewHandler;
    @Inject() noteModule: NoteModule;
    @Inject() sessionModule: SessionModule;

    @Prop() personalMode: boolean;

    @Prop() fetchFn: (options: {
        op: SearchOperator;
        tags: string[];
        limit: number;
        page: number;
    }) => Promise<any>;

    loading = false;
    fetchedPages: { page: number; result: Note[] }[] = [];
    visibleResult: Note[] = [];

    limits = [10, 20, 50];
    op: SearchOperator = null!;
    tags: string[] = [];
    currentLimit = this.limits[0];
    currentPage = 1;

    get allPages() {
        return this.fetchedPages.map(f => f.page);
    }

    gotoMyNotes() {
        if (!this.personalMode) {
            this.viewHandler.forward("/mynotes");
        }
    }

    gotoHome() {
        this.viewHandler.forward("/");
    }

    onLimitChange(value: number) {
        if (value !== this.currentLimit) {
            this.currentPage = 1;
            this.fetchedPages = [];
            this.currentLimit = value;
            this.fetchResult();
        }
    }

    onPageChange(value: number) {
        if (value !== this.currentPage) {
            this.currentPage = value;
            this.fetchResult();
        }
    }

    onSearch(value: SearchNoteQueries) {
        if (this.op !== value.op || this.tags !== value.tags) {
            this.op = value.op;
            this.tags = value.tags;
            this.viewHandler.forward({
                query: {
                    op: JSON.stringify(this.op),
                    tags: JSON.stringify(this.tags)
                }
            });
            this.fetchedPages = [];
            this.fetchResult();
        }
    }

    async fetchResult() {
        const cached = this.fetchedPages.find(p => p.page === this.currentPage);
        if (cached) {
            this.visibleResult = cached.result;
            return;
        }
        try {
            this.loading = true;
            const result = await this.fetchFn({
                op: this.op,
                tags: this.tags,
                limit: this.currentLimit,
                page: this.currentPage
            });
            this.fetchedPages.push({ page: this.currentPage, result });
            this.visibleResult = result;
        } finally {
            this.loading = false;
        }
    }

    created() {
        //-- get tags from query and perform search
        const urlInfo = this.viewHandler.getUrlInfo(this);
        this.op = urlInfo.query["op"]
            ? JSON.parse(urlInfo.query["op"])
            : undefined;
        this.tags = urlInfo.query["tags"]
            ? JSON.parse(urlInfo.query["tags"])
            : undefined;
        this.fetchResult();
    }
}
</script>

<style scoped lang="scss">
@import "../../styles/theme.scss";

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .sublogo {
        text-align: center;
        font-weight: bold;
        color: #f5222d;
        top: -40px;
        left: 92px;
        font-size: $normal-font-size;
        font-family: "Charmonman", cursive;
    }

    .content {
        overflow: auto;
        padding-left: 244px;
        padding-top: 24px;
        padding-right: 164px;
        flex: 1;
        display: flex;
        flex-direction: column;
        .loading {
            font-size: $large-font-size;
        }
        .no-result {
            font-size: $large-font-size;
        }
    }
}

@media screen and (max-width: 600px) {
    .wrapper {
        .content {
            padding: 24px;
        }
    }
}
</style>
